{% extends "layout.html" %}
{% block content %}
    <h3>Open tabs below using buttons below.</h3>
    <h3>-----------------------------</h3>
    <button class="btn btn-success" target="_blank" onclick="window.open('http://brightoncollege.fireflycloud.net/dashboard','_blank'),window.open('http://brightoncollege.fireflycloud.net/set-tasks','_blank'),window.open('http://outlook.office.com/mail/inbox','_blank'),window.open('http://www.onenote.com/notebooks?auth=2&nf=1','_blank'),window.open('http://www.replit.com','_blank'),window.open('http://www.google.com','_blank');">School</button>
    <button class="btn btn-success" target="_blank" onclick="window.open('http://www.replit.com','_blank'),window.open('http://www.stackoverflow.com','_blank'),window.open('http://www.youtube.com','_blank'),window.open('https://github.com/clj-jackson','_blank'),window.open('http://www.google.com');">Coding</button>
    <button class="btn btn-success" target="_blank" onclick="window.open('http://www.youtube.com','_blank'),window.open('http://www.netflix.com','_blank'),window.open('http://www.twitch.com','_blank'),window.open('http://www.crunchyroll.com','_blank'),window.open('http://www.google.com','_blank');">Entertainment/video</button>
{% endblock content %}
